@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main2: rgb(155, 155, 155);
  --main1: #082336;
  --main3: #0c324d;
  --prim: #c99c43;
  --text: #fefefe;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../../assets/pics/haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.contant {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  align-items: center;
}
.messageoverlay {
  position: fixed;
  background-color: #082336b2;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.message {
  width: 50%;
  height: 50%;
  background-color: #c99c43;
  color: #082336;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.message i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--main1);
  font-size: 30px;
  cursor: pointer;
}
.btnnav {
  background-color: var(--prim);
  height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.btnnav a {
  display: block;
  font-size: 30px;
  color: var(--main1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btnnav a:hover {
  color: rgb(117, 117, 117);
}
.div-img {
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  background-image: url(../../assets/pics/REG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 0%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 2;
}
.form-control {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: var(--main1);
  border: 2px solid var(--prim);
  color: var(--main2);
}
.form-control:focus {
  color: var(--text);
  background-color: var(--main1);
  border-color: var(--prim);
  outline: 0;
  box-shadow: 0 0 0 0.25rem #c99c43a4;
}
form {
  display: block;
  width: 50%;
  height: 100%;
  align-items: center;
}
#signupForm {
  padding: 50px;
  color: var(--prim);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.signup h2 {
  margin-bottom: 40px;
}
.signup button {
  display: block;
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: var(--prim);
  color: var(--main1);
  border: var(--prim) solid 2px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.signup button:hover {
  background-color: var(--main1);
  color: var(--prim);
}
#loginForm {
  padding: 50px;
  color: var(--prim);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.login h2 {
  margin-bottom: 40px;
}
.login button {
  display: block;
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: var(--prim);
  color: var(--main1);
  border: var(--prim) solid 2px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.login button:hover {
  background-color: var(--main1);
  color: var(--prim);
}

.input-div {
  position: relative;
}
.input-div .errormessage,
.input-div .loginerrormessage,
.passwordeye {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.passwordeye {
  right: 50px;
}
.form-check-input {
  background-color: var(--main1);
  border: var(--bs-border-width) solid var(--prim);
}
.form-check-input:checked {
  background-color: var(--prim);
  border-color: var(--prim);
}
.form-check-input:focus {
  border-color: var(--prim);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(201, 156, 67, 0.685);
}
